<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>MAIN PAGE</title>
    <!-- Latest compiled and minified CSS -->
    <%- include('./layout/head'); -%>
</head>
<body>
<div class="fluid-container bg-light">
    <%- include('./layout/header'); -%>
    <div id="body">
        <img src="images/main.jpg" style="width:100%;" alt="">
    </div>
    <div id="footer">

    </div>
</div>

</body>
</html>